body {
    padding: 10px;
    line-height : 30px;
}

input {
    margin-left: 10px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}